.ExampleButton {
  position: relative;
  width: 160px;
  height: 40px;
  display: inline-block;
  background: #fff;
  margin-top: 10px;
}
.container .ExampleButton:before,
.container .ExampleButton:after {
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.2s;
  background: #f00;
}

.container .ExampleButton:nth-child(1):before,
.container .ExampleButton:nth-child(1):after {
  background: linear-gradient(45deg, #00ccff, #0e1538, #d400d4);
}
.container .ExampleButton:nth-child(2):before,
.container .ExampleButton:nth-child(2):after {
  background: linear-gradient(45deg, #f0075b, #0e1538, #1aff22);
}
.container .ExampleButton:hover:before {
  inset: -3px;
}
.container .ExampleButton:hover:after {
  inset: -3px;
  filter: blur(10px);
}
.container .ExampleButton span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #24306b;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid #040a29;
  overflow: hidden;
}

.container .ExampleButton span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.075);
  transform: skew(25deg);
}

.container .ExampleButton span.example1Clicked {
  background: linear-gradient(45deg, #00ccff, #0e1538, #d400d4);
}
